* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up,
.under-construction {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  /*background-image: url('/images/img-2.jpg');*/
  /* color instead of image */
  background-color: rgb(235, 42, 67);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  /*background-image: url('/images/img-1.jpg');*/
  /* color instead of image */
  background-color: rgb(235, 42, 67);
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /*background-image: url('/images/img-8.jpg');*/
  /* color instead of image */
  background-color: rgb(235, 42, 67);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.under-construction { 
  /*background-image: url('../public/images/metal-grid.jpg');*/
  background-color: rgb(235, 42, 68);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@media screen and (max-width: 760px) {
  
  .services,
  .products,
  .sign-up,
  .under-construction {
    font-size: 70px;
  }
}

